@import url('https://fonts.googleapis.com/css2?family=Lora');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-style: normal;
  overflow-x: hidden;
  background: #fff;
}
h1,h2{
      font-family: "Lora", serif;
}

a {
  color: inherit;
  text-decoration: none;
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
